<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.Listener"/>
    </listeners>
    <test name="API Automation Tests">
        <packages>
            <package name="requests.petsAPIRequests.PetAPITestWithFaker"/>
            <package name="requests.petsAPIRequests.PetAPITestWithDataProvider"/>
            <package name="requests.storeAPIRequests"/>
            <package name="requests.userAPIRequests"/>
        </packages>
    </test>

</suite>
