<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utulities.Listener"/>
    </listeners>
    <test name="API Automation Tests">
        <classes>
            <class name="requests.petsAPIRequests.Test_01_PetAPIRequests"/>
        </classes>
    </test>
    <test name="API Automation Tests with Data Providers">
        <classes>
            <class name="requests.petsAPIRequests.Test_02_PetAPIRequestsWithDataProviders"/>
        </classes>
    </test>
</suite>
